<div class="container">
    <div class="row">
        <div class="col-1">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="fas fa-arrow-circle-left"></i></button>
        </div>
        <div class="col-1 offset-10">
            <button (click)="add()" class="btn btn-success">Agregar materia <i class="fas fa-plus-square"></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table table-striped">
                <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Creditos</th>
                            <th>Nombre</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let materia of materiaList ; let i = index">
                            <td>{{materia.idmateria}} </td>
                            <td>{{materia.creditos}}</td>
                            <td>{{materia.nombre}}</td>
                            <td><button class="btn btn-success"><i class="fas fa-pencil-alt"></i></button></td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>