<div class="container">
    <div class="row">
        <div class="col-1">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="arrow-circle-left"></i></button>
        </div>
        <div class="col-1 offset-10">
            <button (click)="goFileUpload()" class="btn btn-success">Cargar Archivos <i class="fas fa-file"></i></button>
        </div>
    </div>
    <div class="row">
       
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped ">
                <thead>
                    <tr>
                        <th>Folio Carga</th>
                        <th>Fecha de carga</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carga of cargaList ; let i=index">
                        <td>{{carga.idcarga}}</td>
                        <td>{{carga.fechacarga | date :'dd/MM/yyyy'}}</td>
                        <td *ngIf ="carga.revisada" >
                            Revisada
                        </td>
                        <td *ngIf ="!carga.revisada" >
                            No Revisada
                        </td>
                        <td><button (click)="viewFile(i)" class="btn-view btn btn-info"><i class="fas fa-search"></i></button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<app-loading *ngIf="loading"></app-loading>