<div class="container">
    <div class="row">
        <div class="col-12">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="circle-arrow-left"></i></button>
        </div>
    </div>
    <br/>
    <div class="col-12 ">
        <button class="btn btn-primary" (click)="uploadFiles()"><i class="fas fa-cloud-upload"></i> Cargar archivos</button>
    </div>
    <div class="col-12">
        <div class="form-group form-inline col-4 offset-8">
    <label class="form-label">Seleccione un proceso</label>
    <select  class="form-control" id="proceso" [(ngModel)]="proceso">
        <option [ngValue]="proceso" *ngFor ="let proceso of procesoList">{{proceso.nombre}}</option>
    </select>
        </div>
    </div>
    <div class="row">
       <div class="col-6 offset-3" >
        <form class="uploadForm form-inline">
            <div class="col form-group">
                <label class="form-label">Seleccione un tipo de archivo</label>
                <select [ngModelOptions]="{standalone: true}" class="form-control" id="tipoArchivo" [(ngModel)]="tipoArchivo">
                    <option [ngValue]="tipo" *ngFor="let tipo of tipoArchivoList">{{tipo.tipo}}</option>
                </select>
            </div>
            <div class="col ">
                <label class="form-label">Seleccion un archivo</label>
                <input class="form-control" type="file" id="fileSelecter" class="file" (change)="getFile($event)">
            </div>
            <div class="col">
                <label class="form-label">Agregar archivo</label>
                <button class="btn btn-info" (click)="addFile()" ><i class="fas fa-file-plus"></i></button>
            </div>
        </form>
       </div>
    
    </div>
    <div class="row">
       <div class="col-12">
           <table id="tbl" class="table table-stripet">
               <thead>
                   <th>#</th>
                   <th>Tipo archivo</th>
                   <th>Nombre Archivo</th>
                   <th>Quitar archivo</th>
               </thead>
               <tbody id="tbl-bd">
                  
               </tbody>
           </table>
       </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>