<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="col">
                <h1 class="h5">Registrar Materia</h1>
            </div>
            <form class="form" *ngIf="materia">
                <div class="form-group">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control"  (change)="changeNombre()" [ngModelOptions]="{standalone: true}" id="nombre" [(ngModel)]="materia.nombre" />
                </div>
                <br />
                <div class="form-group">
                    <label class="form-label" for="creditos">Creditos</label>
                    <input class="form-control" id="creditos" ngModel pattern="/^([0-9])*$/" [ngModelOptions]="{standalone: true}" [(ngModel)]="materia.creditos" />
                </div>
                <br />
                <div class="form-group text-center">
                    <button (click)="save()" class="btn btn-success"> Agegar <i class="fas fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>