
<div class="container">
    <div class="row">
        <div class="col-1">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-1 offset-10">
            <button (click)="edit()" class="btn btn-info">Habilitar edicion <i class="fas fa-pencil-alt"></i></button>
        </div>
    </div>
    <br/>
    <div *ngIf="alumno" class="row">
        <div class="col-8 offset-2">

            <div *ngIf="showUnEditableInfo" class="row">
                <div class="col form-group">
                    <label class="form-label">Nombre: </label>
                    <input [(ngModel)]="alumno.nombre" value="alumno.nombre" type="text" disabled="true"
                        class="disable form-control" />
                </div>
                <div class="col form-group">
                    <label class="form-label">Matricula: </label>
                    <input [(ngModel)]="alumno.matricula" value="alumno.matricula" disabled="true"
                        class="form-control" />

                </div>
                <div class="w-100"></div>
                <div class="col form-group">
                    <label class="form-label">Apellido paterno: </label>
                    <input [(ngModel)]="alumno.paterno" value="alumno.paterno" type="text" disabled="true"
                        class="disable form-control" />
                </div>
                <div class="col form-group">
                    <label class="form-label">N.S.S: </label>
                    <input [(ngModel)]="alumno.nss" value="alumno.nss" disabled="true" class="form-control" />
                </div>
                <div class="w-100"></div>
                <div class="col form-group">
                    <label class="form-label">Apellido materno: </label>
                    <input [(ngModel)]="alumno.materno" value="alumno.materno" type="text" disabled="true"
                        class="disable form-control" />
                </div>
                <div class="col form-group">
                    <label class="form-label">Tipo</label>
                    <input [(ngModel)]="alumno.tipo" value="alumno.tipo" disabled="true" class="form-control" />
                </div>
                <div class="w-100"></div>
                <div class="col form-group">
                    <label class="form-label">Telefono </label>
                    <input [(ngModel)]="alumno.paterno" value="alumno.telefono" type="text" disabled="true"
                        class="disable form-control" />
                </div>
                <div class="col form-group">
                    <label class="form-label">Correo electronico</label>
                    <input [(ngModel)]="alumno.correo" value="alumno.correo" disabled="true" class="form-control" />
                </div>
                <div class="w-100"></div>
                <div class="col form-group">
                    <label class="form-label">Inscrito </label>
                    <label *ngIf="alumno.inscrito" class="form-control">Inscrito</label>
                    <label *ngIf="!alumno.inscrito" class="form-control">No Inscrito</label>
                </div>
                <div class="col form-group">
                    <label class="form-label">Semestre: </label>
                    <label *ngIf="alumno.semestre!=null" class="form-control">{{alumno.semestre + '°'}}</label>
                </div>
                <div class="w-100"></div>
                <div class="col form-group">
                    <label class="form-label">Grupo: </label>
                    <input [(ngModel)]="alumno.idgrupo.codigo" disabled="true" class="form-control">
                </div>
                <div class="col form-group">
                    <label class="form-label">Carrera: </label>
                    <input [(ngModel)]="alumno.idcarrera.nombre" disabled="true" class="form-control">
                </div>
                <div class="w-100"></div>

            </div>
            <div class="row" *ngIf="showEditableInfo">
                
                <div class="col form-group ">
                    <label class="form-label">Inscrito</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" [(ngModel)]="alumno.inscrito" [checked]="alumno.inscrito"
                                    aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input *ngIf="alumno.inscrito" type="text" class="form-control" value="Inscrito" disabled="true"
                            aria-label="Text input with checkbox">
                        <input *ngIf="!alumno.inscrito" type="text" class="form-control" value="No Inscrito"
                            disabled="true" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="col form-group">
                    <label class="form-label">Carrera : {{alumno.idcarrera.nombre}}</label>
                    <select [(ngModel)]="alumno.idcarrera" [ngModelOptions]="{standalone: true}" class="form-control">
                        <option *ngFor="let car of carreraList" [ngValue]="car" value="car">{{car.nombre}}</option>
                    </select>
                </div>
                <div class="w-100"></div>
                <div class="col form-group">
                    <label class="form-label">Matricula</label>
                    <input class="form-control" [(ngModel)]="alumno.matricula" />
                </div>
                <div class="col form-group">
                    <label class="form-label">Grupo: {{alumno.idgrupo.codigo}}</label>
                    <select [(ngModel)]="alumno.idgrupo" [ngModelOptions]="{standalone: true}" class="form-control">
                        <option *ngFor="let grupo of grupoList" [ngValue]="grupo" value="grupo">{{grupo.codigo}}
                        </option>
                    </select>
                </div>
                <div class="w-100"></div>
                <div class="col form-group">
                    <label class="form-label">Semestre: {{alumno.semestre}}</label>
                    <select [(ngModel)]="alumno.semestre" [ngModelOptions]="{standalone: true}" class="form-control">
                       <option value="1">PRIMERO</option>
                       <option value="2">SEGUNDO</option>
                       <option value="3">TERCER</option>
                       <option value="4">CUARTO</option>
                       <option value="5">QUINTO</option>
                       <option value="6">SEXTO</option>
                       <option value="7">SEPTIMO</option>
                       <option value="8">OCTAVO</option>
                       <option value="9">NOVENO</option>
                    </select>
                </div>
                <div class="col form-group text-center">
                    <button (click)="save()" class="btn btn-success">Guardar cambios <i class="fas fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>