<div class="container">
    <div class="row">
        <div class="col">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="fas fa-arrow-circle-left"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <form class="form">
                <div class="form-group">
                    <label class="form-label" for="nombre">Ingrese el nombre del edificio</label>
                    <input [(ngModel)]="nombre" (change)="changeNombre()" name="nombre" id="nombre" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <label class="form-label" for="ubicacion">Ubicación </label>
                    <input [(ngModel)]="ubicacion" class="form-control" (change)="changeUbicacion()" name="ubicacion" />
                </div>
                <div class="form-group text-center">
                        <button (click)="save()" class="btn btn-success">Agregar <i class="fas fa-plus-square"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>