<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form *ngIf="alumno" class="form bg-ligth">
<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="form-label" for="nombre">Nombre</label>
            <input [(ngModel)]="alumno.nombre" type="text" required="true"
                class="form-control" placeholder="Ingresa tu nombre" name="nombre" id="nombre" />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="form-label" for="paterno">Apellido Paterno</label>
            <input [(ngModel)]="alumno.paterno" type="text" required="true"
                class="form-control" placeholder="Ingresa tu numero de telefono" name="paterno"
                id="paterno" />

        </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <div class="form-group">
            <label class="form-label" for="paterno">Apellido Materno</label>
            <input [(ngModel)]="alumno.materno" type="text" required="true"
                class="form-control" placeholder="Ingresa tu numero de telefono" name="materno"
                id="materno" />

        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="form-label" for="telefono">Telefono</label>
            <input [(ngModel)]="alumno.telefono" type="email" required="true"
                class="form-control" placeholder="Ingresa tu numero de telefono" name="telefono"
                id="telefono" />
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <div class="form-group">
            <label class="form-label" for="correo">Correo electronico </label>
            <input [(ngModel)]="alumno.correo" type="text" required="true"
                class="form-control" placeholder="Ingresa tu numero de telefono" name="correo"
                id="correo" />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="form-label" for="carrera">
                Selecciona Una Carrera De Interes
            </label>
            <select [(ngModel)]="carrera" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let car of carreras"[ngValue]="car" value="car">{{car.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <button type="submit" (click)="singUp()" class="btn btn-success">Registrarse <i class="sing-in-alt"></i></button>
    </div>
</div>
            </form>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>