<div class="row pt-5">
    <div class="col-md-4 offset-md-4 align-self-center user_card">
        <!--card -->
        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQG4SyFN7AQpTg/company-logo_200_200/0?e=2159024400&v=beta&t=JfYi1ZnJoE9J3DIBZ3ALawLT10etWc4IQVQPUtsEyK0" class="brand_logo" alt="Logo">
            </div>
        </div>
        <div>
            <h3 class="pt-5 pb-2 text-center" style="color:white; text-shadow:black 2px 2px 2px;">Iniciar sesión</h3>
            <form class="form">
                <div class="input-group-prepend">
                    <div class="input-group form-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="email" [(ngModel)]="user" class="form-control" name="email" placeholder="Usuario" required="required" style="border-radius: 1px 10px 10px 1px;"/>
                    </div>
                </div>
                <br/>
                <div class="input-group-prepend">
                    <div class="input-group form-group">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="contraseña" required="required" style="border-radius: 1px 10px 10px 1px;" />
                    </div>
                </div>
                <br/>
                <div class="text-center">
                    <button class="btn btn-danger btn-block" (click)="login()"><b style="color:white; text-shadow:black 2px 2px 2px; font-size: large;">Ingresar</b></button>
                </div>
                <div>
                    <a routerLink="/registrarCandidato" >deseas registrarte como aspirante?</a>
                </div>
            </form>
        </div>

    </div>
</div>
<app-loading *ngIf="loading"></app-loading>