/* Coded with love by Mutiullah Samim */
	
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff !important;
}

.user_card {
    padding-top: 5%;
    padding-bottom: 3%;
    margin: auto;
    background: -webkit-linear-gradient(left top, #76BD1F, #006936);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #76BD1F, #006936);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #76BD1F, #006936);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #76BD1F, #006936);
    /* Standard syntax */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #ffffff;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.input-group-text {
    background: #ccd1d1 !important;
    color: #626567 !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #CCD1D1 !important;
}