<div class="container">
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary">
                regresar <i class="fas fa-arrow-arrow-left"></i>
            </button>
        </div>
        <div class="col-1 offset-10">
            <button class="btn btn-success">
                Agregar <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <h4 class="h1">{{docente.nombre}} {{docente.paterno}} {{docente.materno}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                <thead>
                    <th>Materia</th>
                    <th>Carrera</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let materia of materiaList ; let i =index">
                        <td>{{materia.nombre}}</td>
                        <td>Carrera</td>
                        <td>
                            <button class="btn btn-danger"> <i class="fas fa-trash"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>




<app-login *ngIf="loading"></app-login>