

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="form-group">
                Sesion de alumno: {{alumno.nombre}}
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary" (click)="goUploadModule()">Carga De Documentos<i class="fas fa-file-upload"></i></button>
                
            </div>
            <div class="col-4">
                <button class="btn btn-success" (click)="goEditModule()">Editar Información <i class="fas fa-alt-edit"></i> </button>
            </div>
        </div>
</div>
