<div class="container">
    <div class="row">
        <div class="col-1">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-1 offset-10">
            <button (click)="add()" class="btn btn-success">Agregar <i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped" >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>cedula</th>
                        <th>telefono</th>
                        <th>N.S.S.</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let docente of docenteList; let i = index">
                        <td>{{docente.nombre + ' ' +docente.paterno + ' '+ docente.materno}}</td>
                        <td>{{docente.cedula}}</td>
                        <td>{{docente.telefono}}</td>
                        <td>{{docente.nss}}</td>
                        <td>
                            <button class="btn btn-info" (click)="edit(i)"><i class="fas fa-edit"></i> </button> &nbsp;
                            <button class="btn btn-info" (click)="golistMaterias(i)"> <i class="fas fa-books"></i></button> &nbsp;
                            <button class="btn btn-danger"><i class="fas fa-trash"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>