<div class="container">
    <div class="row">
        <div class="col">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="fas fa-arrow-circle-left"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1 *ngIf="edificio" class="h5">Agregar aula al edificio: {{edificio.nombre}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <form >
                <div  class="form-group">
                    <label class="form-label" for="nombre"> nombre</label>
                    <input [(ngModel)]="nombre" name="nombre" id="nombre" (change)="onchangeName()" class="form-control" placeholder="nombre de aula" type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="tipoAula" >Tipo Aula</label>
                    <select [(ngModel)]="tipoAula" [ngModelOptions]="{standalone: true}" class="form-control" id="tipoAula">
                        <option value="NORMAL">NORMAL</option>
                        <option value="LABORATORIO DE COMPUTO">LABORATORIO DE COMPUTO</option>
                        <option value="LABORATORIO">LABORATORIO</option>
                    </select>
                </div>
                <div class="form-group">
                    <button (click)="save()" class="form-control btn btn-success" >Agregar <i class="fas fa-plus-square"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>