<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-success" href="#">TESI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-success" role="button" href="login" (click)="goLogin()">Iniciar Sesion</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>