<div class="container">
    <div class="row">
        <div class="col-1">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="fas fa-arrow-left"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <form class="form">
                <div class="form-container">
                    <label for="correo" class="formlabel" >corero</label>
                    <input type="email" [ngModelOptions]="{standalone: true} " [(ngModel)]="docente.correo"  class="form-control" id="correo">
                </div>
                <div class="form-container">
                    <label for="telefono" class="formlabel" >Telefono</label>
                    <input type="text" [ngModelOptions]="{standalone: true} " [(ngModel)]="docente.telefono"  class="form-control" id="correo">
                </div>
                <div class="form-container">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control" [ngModelOptions]="{standalone: true} " type="text" name="nombre" id="nombre" [(ngModel)]="docente.nombre">
                </div>
                <div class="form-container">
                    <label class="form-label" for="paterno">Apellido paterno</label>
                    <input type="text" [ngModelOptions]="{standalone: true} "  id="paterno" class="form-control" [(ngModel)]="docente.paterno">
                </div>
                <div class="form-container">
                    <label class="form-label" for="materno">Apellido Materno</label>
                    <input type="text" [ngModelOptions]="{standalone: true} " name="materno" [(ngModel)]="docente.materno" class="form-control">
                </div>
                <div class="form-container">
                    <label class="form-label" for="cedula">Cedula</label>
                    <input type="text" [ngModelOptions]="{standalone: true} " name="cedula" class="form-control" [(ngModel)]="docente.cedula">
                </div>
                <div class="form-container">
                    <label for="nss">Numero de seguro social</label>
                    <input id="nss" [ngModelOptions]="{standalone: true} " class="form-control" type="text" [(ngModel)]="docente.nss " id="nss">
                </div>
                <div class="form-container">
                    <label for="matricula">Matricula</label>
                    <input id="matricula" [ngModelOptions]="{standalone: true} " class="form-control" type="text" [(ngModel)]="docente.matricula " id="nss">
                </div>
                <div class="form-container text-center">
                    <button (click)="add()" class="btn btn-success">Grabar <i class="fas fa-save"></i></button>
                </div>

            </form>
        </div>
    </div>

</div>
<app-loading *ngIf="loading"></app-loading>
