<div class="container">
    <div class="row">
            <div class="col">
                <button class="btn btn-primary" (click)="back()">Regresar <i class="fas fa-arrow-circle-left"></i> </button>
            </div>
    </div>
    <div class="row" *ngIf="alumno">
        <div class="col text-center">
        <h1 class="h5">{{alumno.nombre}} {{alumno.paterno}} {{alumno.materno}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col">
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" [(ngModel)]="alumno.nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Apellido Paterno</label>
                    <input type="text" [(ngModel)]="alumno.paterno" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" [(ngModel)]="alumno.nombre" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="nombre" class="form-label">correo</label>
                    <input type="text" [(ngModel)]="alumno.correo" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">N.S.S</label>
                    <input type="text" [(ngModel)]="alumno.nss" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Telefono</label>
                    <input type="text" [(ngModel)]="alumno.telefono" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-4 offset-4 text-center" >
                    <button class="btn btn-success" (click)="save()"> Guardar <i class="fas fa-save"></i> </button>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>