<div class="container">
    <div class="row">
        <div class="col-2">
            <button (click)="back()" class="btn btn-primary">Regresar <i class="fas fa-arrow-alt-circle-left"></i></button>
        </div>
        <div class="col-2 offset-8">
            <button (click)="endCheck()" class="btn btn-success">Finalizar revision <i class="fas fa-user-check"></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card">
                <div class="card-header">
                   <button class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" >Ver detalles</button>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card-body" >
                        <h5 *ngIf="carga" class="card-title">Folio de carga: {{carga.idcarga}}</h5>
                        <p *ngIf="carga">Fecha de carga: {{carga.fechacarga | date: 'dd-MM-yyyy'}}</p>
                        <p *ngIf="proceso">Proceso : {{proceso.nombre}}</p>
                        <p *ngIf="carga"> Alumno : {{carga.idalumno.nombre +' '+carga.idalumno.paterno + ' '+carga.idalumno.materno}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    
    <br/>
    <div class="row">
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                <thead>
                    <tr>
                        <th>Folio archivo</th>
                        <th>nombre archivo</th>
                        <th>Tipo Archivo</th>
                        <th>Estado</th>
                        <th>Revisado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let archivo of archivoList ; let i = index">
                        <td>{{archivo.idarchivo}}</td>
                        <td>{{archivo.nombre}}</td>
                        <td>{{archivo.idtipoarchivo.tipo}}</td>
                        <td *ngIf="archivo.aprobado">
                            <button class="btn btn-success"><i class="fas fa-check"></i></button>
                        </td>
                        <td *ngIf="!archivo.aprobado">
                            <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                        </td>
                        <td *ngIf="archivo.revisado">
                            Revisado </td>
                        <td *ngIf="!archivo.revisado">
                            No Revisado </td>
                        <td><button (click)="view(i)" class="btn btn-info "><i class="fas fa-eye"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>