<div class="container">
    <div class="row">
        <div (click)="back()" class="btn btn-primary">Regresar  <i class="fas fa-arrow-alt-circle-left"></i></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Fecha de carga</th>
                        <th>Alumno</th>
                        <th>Matricula</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carga of cargaList ; let i = index">
                        <td>{{carga.idcarga}}</td>
                        <td>{{carga.fechacarga | date:'dd-MM-yyyy'}}</td>
                        <td>{{carga.idalumno.nombre +' '+ carga.idalumno.paterno +' '+ carga.idalumno.materno}}</td>
                       <td>{{carga.idalumno.matricula}}</td>
                        <td *ngIf="carga.revisada">
                            Revisada
                        </td>
                        <td *ngIf="!carga.revisada">
                            No revisada
                        </td>
                        <td>
                            <button (click)="check(i)" class="btn btn-primary"><i class="fas fa-check"></i></button>
                            &nbsp;
                            <button (click)="download(i)" class="btn btn-primary"><i class="fas fa-download"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<app-loading *ngIf="loading"></app-loading>