<div class="row">
    <div class="col-12">
        <button (click)="back()" class="btn btn-primary">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table datatable [dtOptions]="dtOption" [dtTrigger]="dtTrigger" class="table table-striped ">
            <thead>
                <tr>
                    <th> Folio Archivo</th>
                    <th> Tipo Archivo</th>
                    <th> Nombre</th>
                    <th> Fecha de carga</th>
                    <th>Estado</th>
                    <th> Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivoList ; let i = index">
                    <td>{{archivo.idarchivo}}</td>
                    <td>{{archivo.idtipoarchivo.tipo}}</td>
                    <td>{{archivo.nombre}}</td>
                    <td>{{archivo.fechacarga | date:'dd/MM/yyyy'}}</td>
                    <td *ngIf="archivo.aprobado">
                        Aprobado
                    </td>
                    <td *ngIf="!archivo.aprobado">
                        No aprobado
                    </td>
                    <td>
                        <button (click)="view(i)" class="btn btn-info"><i class="fas fa-search"></i></button>
                        <button (click)="sync(i)" class="btn btn-success"><i class="fas fa-sync"></i></button>
                        <button (click)="deletArchivo(i)" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>