<div class="container">
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary"> Regresar </button>
        </div>
        <div class="col-1 offset-10">
            <button (click)="addEdificio()" class="btn btn-success">Agregar Nuevo Edificio</button>
        </div>
    </div>
    <div class="row">
    </div>
    <br />
    <div *ngIf="edificioList" class="row">
        <div *ngFor="let edificio of edificioList ; let i = index" class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-7">
                            <h6 class="card-title">EDIFICIO: {{edificio.nombre}}</h6>
                        </div>
                        <div class="col">
                            <button (click)="deleteEdificio(i)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            &nbsp;
                            <button (click)="addAula(i)" class="btn btn-success"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr *ngFor="let aula of edificio.aulaList ; let j = index">
                            <td>{{aula.nombre}}</td>
                            <td>{{aula.tipo}}</td>
                            <td>
                                <button (click)="deleteAula(i,j)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>