<div class="container">
    <div class="row">
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table table-striped">
                <thead>
                    <tr>
                        <th>carrera</th>
                        <th>grupo</th>
                        <th>matricula </th>
                        <th>nombre</th>
                        <th>Tipo</th>
                        <th>Inscrito</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnoList; let i = index">
                        <td>{{alumno.idcarrera.nombre}}</td>
                        <td>{{alumno.idgrupo.codigo}}</td>
                        <td>{{alumno.matricula}}</td>
                        <td>{{alumno.nombre +' '+alumno.paterno+' '+alumno.materno}}</td>
                        <td>{{alumno.tipo}}</td>
                        <td *ngIf="alumno.inscrito">
                            INSCRITO
                        </td>
                        <td *ngIf="!alumno.inscrito">
                            NO INSCRITO
                        </td>
                        <td>
                            <button (click)="view(i)" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            &nbsp;
                            <button (click)="edit(i)" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>